h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.whiskyTable {
    width: 50%;
    margin: auto;
}

.middle {
    display: block;
    margin: auto;
}

.right {
    float: right;
}

.per30 {
    width:30%;
}

.per20 {
    width:20%;
}

/*
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/